*{
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
   margin-left: 200px;
}
.spo{
    color: #FD6E0A;

}
.navigation{
    display: flex;
    gap: 50px;
    align-items: center;
    margin-right: 200px;
}
li{
   list-style: none;
 
}
.btn-primary{
width: 120px;
height: 50px;
border-radius: 5px;
background-color: #FD6E0A;
}
.header1{
    background-color: #FFF8F3;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    display: flex;
    justify-content: space-between;
}
.banner1{
    margin-left: 200px;
}
.text{
    color:#474747;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.text1{
    color:#181818;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.text3{
    color: #757575;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.sec1{
    padding: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
    margin-left: 230px;
    margin-right: 230px;
    margin-top: 130px;
}
.hight{
    text-align: center;
}
.about-info-c{
    display: flex;
   gap: 50px;
   justify-content: center;
}
.jiko{
   text-align: center;
   margin-top: 130px;
}
.poro{
    color: #757575;
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin-left: 345px;
margin-right: 346px;
}
.skills1{
    display: flex;
    border: 1px solid white;
    border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
margin-top: 130px;
gap: 25px;
margin-left:263px;
margin-right: 263px;

}
.shamima{
border-radius: 7px;
}
.resu{
    display: flex;
    margin-left: 250px;
    margin-right: 230px;
    gap:50px;
}
.sedu{
    display: flex;
}
.resume1{
    text-align: center;
    margin-top: 130px;
}
.cas1{
    color:  #474747;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;

}
.cas2{
    color:#474747;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.cas3{
    color: #757575; 
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}